
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@ViewBag.name</p>
<table>
    <head>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone Nuber</th>
    </tr>
    </head>
    <tbody>
        <tr>
            <td>1</td>
            <td>Saven</td>
            <td>012457893</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Sara</td>
            <td>012457893</td>
        </tr>
    </tbody>
</table>

